@import "../../vars.css";

.container {
    display: flex;
    justify-content: center;
    
}
.navItemsContainer{
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 400px;


}

.navItem {
    color: var(--color-peach);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Verdana";
    border: none;
    background: none;
    cursor: pointer;
}

.selected {
    color:  var(--color-desert-sun);
}

.counter {
    background:var(--color-coral);
    border-radius:50%;
    height:15px;
    width: 15px;
    font-size: 10px;
    line-height: 15px;
    display: inline-block;
    text-align: center;
    color: var(--color-cream);
    padding: 1px;
    margin: 2px;
}