@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Cabin:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext");

:root {
  --color-cream: #f6eee0;
  --color-peach: #e4b7a0;
  --color-coral: #c38370;
  --color-desert-sun: #a8534b;
  --color-light-cream: #e9ddd4;
  --icon-color: #a8534b;
}
